@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot?24671060');
  src: url('/font/fontello.eot?24671060#iefix') format('embedded-opentype'),
       url('/font/fontello.woff?24671060') format('woff'),
       url('/font/fontello.ttf?24671060') format('truetype'),
       url('/font/fontello.svg?24671060#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24671060#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-plus:before { content: '\e816'; } /* 'о –' */
.icon-minus:before { content: '\e819'; } /* 'о ™' */
.icon-info:before { content: '\e81e'; } /* 'о ћ' */
.icon-left-thin:before { content: '\e88c'; } /* 'оўЊ' */
.icon-up-thin:before { content: '\e88e'; } /* 'оўЋ' */
.icon-right-thin:before { content: '\e88d'; } /* 'оўЌ' */
.icon-down-thin:before { content: '\e88b'; } /* 'оў‹' */
.icon-level-up:before { content: '\e893'; } /* 'оў“' */
.icon-level-down:before { content: '\e892'; } /* 'оў’' */
.icon-switch:before { content: '\e896'; } /* 'оў–' */
.icon-infinity:before { content: '\e8cb'; } /* 'оЈ‹' */
.icon-plus-squared:before { content: '\e818'; } /* 'о ' */
.icon-minus-squared:before { content: '\e81b'; } /* 'о ›' */
.icon-home:before { content: '\e821'; } /* 'о Ў' */
.icon-keyboard:before { content: '\e83a'; } /* 'о є' */
.icon-erase:before { content: '\e90a'; } /* 'о¤Љ' */
.icon-pause:before { content: '\e89f'; } /* 'оўџ' */
.icon-fast-forward:before { content: '\e89c'; } /* 'оўњ' */
.icon-fast-backward:before { content: '\e89d'; } /* 'оўќ' */
.icon-to-end:before { content: '\e89a'; } /* 'оўљ' */
.icon-to-start:before { content: '\e89b'; } /* 'оў›' */
.icon-hourglass:before { content: '\e862'; } /* 'оЎў' */
.icon-stop:before { content: '\e898'; } /* 'оў' */
.icon-up-dir:before { content: '\e886'; } /* 'оў†' */
.icon-play:before { content: '\e897'; } /* 'оў—' */
.icon-right-dir:before { content: '\e885'; } /* 'оў…' */
.icon-down-dir:before { content: '\e883'; } /* 'оўѓ' */
.icon-left-dir:before { content: '\e884'; } /* 'оў„' */
.icon-adjust:before { content: '\e867'; } /* 'оЎ§' */
.icon-cloud:before { content: '\e8ef'; } /* 'оЈЇ' */
.icon-star:before { content: '\e808'; } /* 'о €' */
.icon-star-empty:before { content: '\e809'; } /* 'о ‰' */
.icon-cup:before { content: '\e846'; } /* 'оЎ†' */
.icon-menu:before { content: '\e811'; } /* 'о ‘' */
.icon-moon:before { content: '\e8ac'; } /* 'оў¬' */
.icon-heart-empty:before { content: '\e807'; } /* 'о ‡' */
.icon-heart:before { content: '\e806'; } /* 'о †' */
.icon-note:before { content: '\e800'; } /* 'о Ђ' */
.icon-note-beamed:before { content: '\e801'; } /* 'о Ѓ' */
.icon-layout:before { content: '\e810'; } /* 'о ђ' */
.icon-flag:before { content: '\e82a'; } /* 'о Є' */
.icon-tools:before { content: '\e856'; } /* 'оЎ–' */
.icon-cog:before { content: '\e855'; } /* 'оЎ•' */
.icon-attention:before { content: '\e83e'; } /* 'о ѕ' */
.icon-flash:before { content: '\e8a1'; } /* 'оўЎ' */
.icon-record:before { content: '\e899'; } /* 'оў™' */
.icon-cloud-thunder:before { content: '\e8d4'; } /* 'оЈ”' */
.icon-tape:before { content: '\e8a2'; } /* 'оўў' */
.icon-flight:before { content: '\e8af'; } /* 'оўЇ' */
.icon-mail:before { content: '\e805'; } /* 'о …' */
.icon-pencil:before { content: '\e836'; } /* 'о ¶' */
.icon-feather:before { content: '\e837'; } /* 'о ·' */
.icon-check:before { content: '\e812'; } /* 'о ’' */
.icon-cancel:before { content: '\e813'; } /* 'о “' */
.icon-cancel-circled:before { content: '\e814'; } /* 'о ”' */
.icon-cancel-squared:before { content: '\e815'; } /* 'о •' */
.icon-help:before { content: '\e81c'; } /* 'о њ' */
.icon-quote:before { content: '\e833'; } /* 'о і' */
.icon-plus-circled:before { content: '\e817'; } /* 'о —' */
.icon-minus-circled:before { content: '\e81a'; } /* 'о љ' */
.icon-right:before { content: '\e881'; } /* 'оўЃ' */
.icon-direction:before { content: '\e844'; } /* 'оЎ„' */
.icon-forward:before { content: '\e832'; } /* 'о І' */
.icon-ccw:before { content: '\e88f'; } /* 'оўЏ' */
.icon-cw:before { content: '\e890'; } /* 'оўђ' */
.icon-left:before { content: '\e880'; } /* 'оўЂ' */
.icon-up:before { content: '\e882'; } /* 'оў‚' */
.icon-down:before { content: '\e87f'; } /* 'оЎї' */
.icon-list-add:before { content: '\e8e0'; } /* 'оЈ ' */
.icon-list:before { content: '\e8e1'; } /* 'оЈЎ' */
.icon-left-bold:before { content: '\e888'; } /* 'оў€' */
.icon-right-bold:before { content: '\e889'; } /* 'оў‰' */
.icon-up-bold:before { content: '\e88a'; } /* 'оўЉ' */
.icon-down-bold:before { content: '\e887'; } /* 'оў‡' */
.icon-user-add:before { content: '\e80c'; } /* 'о Њ' */
.icon-help-circled:before { content: '\e81d'; } /* 'о ќ' */
.icon-info-circled:before { content: '\e81f'; } /* 'о џ' */
.icon-eye:before { content: '\e826'; } /* 'о ¦' */
.icon-tag:before { content: '\e827'; } /* 'о §' */
.icon-upload-cloud:before { content: '\e82f'; } /* 'о Ї' */
.icon-reply:before { content: '\e830'; } /* 'о °' */
.icon-reply-all:before { content: '\e831'; } /* 'о ±' */
.icon-code:before { content: '\e834'; } /* 'о ґ' */
.icon-export:before { content: '\e835'; } /* 'о µ' */
.icon-print:before { content: '\e838'; } /* 'о ё' */
.icon-retweet:before { content: '\e839'; } /* 'о №' */
.icon-comment:before { content: '\e83b'; } /* 'о »' */
.icon-chat:before { content: '\e83c'; } /* 'о ј' */
.icon-vcard:before { content: '\e840'; } /* 'оЎЂ' */
.icon-address:before { content: '\e841'; } /* 'оЎЃ' */
.icon-location:before { content: '\e842'; } /* 'оЎ‚' */
.icon-map:before { content: '\e843'; } /* 'оЎѓ' */
.icon-compass:before { content: '\e845'; } /* 'оЎ…' */
.icon-trash:before { content: '\e847'; } /* 'оЎ‡' */
.icon-doc:before { content: '\e848'; } /* 'оЎ€' */
.icon-doc-text-inv:before { content: '\e84c'; } /* 'оЎЊ' */
.icon-docs:before { content: '\e849'; } /* 'оЎ‰' */
.icon-doc-landscape:before { content: '\e84a'; } /* 'оЎЉ' */
.icon-archive:before { content: '\e851'; } /* 'оЎ‘' */
.icon-rss:before { content: '\e854'; } /* 'оЎ”' */
.icon-share:before { content: '\e857'; } /* 'оЎ—' */
.icon-basket:before { content: '\e859'; } /* 'оЎ™' */
.icon-shareable:before { content: '\e858'; } /* 'оЎ' */
.icon-login:before { content: '\e85c'; } /* 'оЎњ' */
.icon-logout:before { content: '\e85d'; } /* 'оЎќ' */
.icon-volume:before { content: '\e863'; } /* 'оЎЈ' */
.icon-resize-full:before { content: '\e869'; } /* 'оЎ©' */
.icon-resize-small:before { content: '\e86a'; } /* 'оЎЄ' */
.icon-popup:before { content: '\e86b'; } /* 'оЎ«' */
.icon-publish:before { content: '\e86c'; } /* 'оЎ¬' */
.icon-window:before { content: '\e86d'; } /* 'оЎ­' */
.icon-arrow-combo:before { content: '\e86e'; } /* 'оЎ®' */
.icon-chart-pie:before { content: '\e90e'; } /* 'о¤Ћ' */
.icon-language:before { content: '\e8b0'; } /* 'оў°' */
.icon-air:before { content: '\e8d7'; } /* 'оЈ—' */
.icon-database:before { content: '\e8f6'; } /* 'оЈ¶' */
.icon-drive:before { content: '\e8c8'; } /* 'оЈ€' */
.icon-bucket:before { content: '\e8e8'; } /* 'оЈЁ' */
.icon-thermometer:before { content: '\e8cc'; } /* 'оЈЊ' */
.icon-down-circled:before { content: '\e86f'; } /* 'оЎЇ' */
.icon-left-circled:before { content: '\e870'; } /* 'оЎ°' */
.icon-right-circled:before { content: '\e871'; } /* 'оЎ±' */
.icon-up-circled:before { content: '\e872'; } /* 'оЎІ' */
.icon-down-open:before { content: '\e873'; } /* 'оЎі' */
.icon-left-open:before { content: '\e874'; } /* 'оЎґ' */
.icon-right-open:before { content: '\e875'; } /* 'оЎµ' */
.icon-up-open:before { content: '\e876'; } /* 'оЎ¶' */
.icon-down-open-mini:before { content: '\e877'; } /* 'оЎ·' */
.icon-left-open-mini:before { content: '\e878'; } /* 'оЎё' */
.icon-right-open-mini:before { content: '\e879'; } /* 'оЎ№' */
.icon-up-open-mini:before { content: '\e87a'; } /* 'оЎє' */
.icon-down-open-big:before { content: '\e87b'; } /* 'оЎ»' */
.icon-left-open-big:before { content: '\e87c'; } /* 'оЎј' */
.icon-right-open-big:before { content: '\e87d'; } /* 'оЎЅ' */
.icon-up-open-big:before { content: '\e87e'; } /* 'оЎѕ' */
.icon-progress-0:before { content: '\e89e'; } /* 'оўћ' */
.icon-progress-1:before { content: '\e8a0'; } /* 'оў ' */
.icon-progress-2:before { content: '\e8ad'; } /* 'оў­' */
.icon-progress-3:before { content: '\e8ae'; } /* 'оў®' */
.icon-back-in-time:before { content: '\e8ec'; } /* 'оЈ¬' */
.icon-network:before { content: '\e8eb'; } /* 'оЈ«' */
.icon-inbox:before { content: '\e8ed'; } /* 'оЈ­' */
.icon-install:before { content: '\e90f'; } /* 'о¤Џ' */
.icon-lifebuoy:before { content: '\e8df'; } /* 'оЈџ' */
.icon-mouse:before { content: '\e8db'; } /* 'оЈ›' */
.icon-dot:before { content: '\e8c1'; } /* 'оЈЃ' */
.icon-dot-2:before { content: '\e8ff'; } /* 'оЈї' */
.icon-dot-3:before { content: '\e901'; } /* 'о¤Ѓ' */
.icon-suitcase:before { content: '\e8bf'; } /* 'оўї' */
.icon-flow-cascade:before { content: '\e8f4'; } /* 'оЈґ' */
.icon-flow-branch:before { content: '\e8d2'; } /* 'оЈ’' */
.icon-flow-tree:before { content: '\e917'; } /* 'о¤—' */
.icon-flow-line:before { content: '\e918'; } /* 'о¤' */
.icon-flow-parallel:before { content: '\e8a3'; } /* 'оўЈ' */
.icon-brush:before { content: '\e906'; } /* 'о¤†' */
.icon-paper-plane:before { content: '\e8b9'; } /* 'оў№' */
.icon-magnet:before { content: '\e8c9'; } /* 'оЈ‰' */
.icon-traffic-cone:before { content: '\e8b7'; } /* 'оў·' */
.icon-cc:before { content: '\e8dd'; } /* 'оЈќ' */
.icon-cc-by:before { content: '\e8d6'; } /* 'оЈ–' */
.icon-cc-nc:before { content: '\e8bd'; } /* 'оўЅ' */
.icon-cc-nc-eu:before { content: '\e8f7'; } /* 'оЈ·' */
.icon-cc-nc-jp:before { content: '\e8fd'; } /* 'оЈЅ' */
.icon-cc-sa:before { content: '\e8c3'; } /* 'оЈѓ' */
.icon-cc-nd:before { content: '\e8ea'; } /* 'оЈЄ' */
.icon-cc-pd:before { content: '\e8c7'; } /* 'оЈ‡' */
.icon-cc-zero:before { content: '\e8f5'; } /* 'оЈµ' */
.icon-cc-share:before { content: '\e909'; } /* 'о¤‰' */
.icon-cc-remix:before { content: '\e8cd'; } /* 'оЈЌ' */
.icon-github:before { content: '\e8ee'; } /* 'оЈ®' */
.icon-github-circled:before { content: '\e8d1'; } /* 'оЈ‘' */
.icon-flickr:before { content: '\e8f3'; } /* 'оЈі' */
.icon-flickr-circled:before { content: '\e916'; } /* 'о¤–' */
.icon-vimeo:before { content: '\e919'; } /* 'о¤™' */
.icon-vimeo-circled:before { content: '\e8a4'; } /* 'оў¤' */
.icon-twitter:before { content: '\e8a9'; } /* 'оў©' */
.icon-twitter-circled:before { content: '\e8b1'; } /* 'оў±' */
.icon-facebook:before { content: '\e8b6'; } /* 'оў¶' */
.icon-facebook-circled:before { content: '\e8d5'; } /* 'оЈ•' */
.icon-facebook-squared:before { content: '\e8bc'; } /* 'оўј' */
.icon-gplus:before { content: '\e8f9'; } /* 'оЈ№' */
.icon-gplus-circled:before { content: '\e8fa'; } /* 'оЈє' */
.icon-pinterest:before { content: '\e8fc'; } /* 'оЈј' */
.icon-pinterest-circled:before { content: '\e8c4'; } /* 'оЈ„' */
.icon-tumblr:before { content: '\e8c6'; } /* 'оЈ†' */
.icon-tumblr-circled:before { content: '\e902'; } /* 'о¤‚' */
.icon-linkedin:before { content: '\e905'; } /* 'о¤…' */
.icon-linkedin-circled:before { content: '\e908'; } /* 'о¤€' */
.icon-dribbble:before { content: '\e8ce'; } /* 'оЈЋ' */
.icon-dribbble-circled:before { content: '\e8d0'; } /* 'оЈђ' */
.icon-stumbleupon:before { content: '\e90d'; } /* 'о¤Ќ' */
.icon-stumbleupon-circled:before { content: '\e912'; } /* 'о¤’' */
.icon-lastfm:before { content: '\e915'; } /* 'о¤•' */
.icon-lastfm-circled:before { content: '\e91a'; } /* 'о¤љ' */
.icon-rdio:before { content: '\e8a5'; } /* 'оўҐ' */
.icon-rdio-circled:before { content: '\e8a8'; } /* 'оўЁ' */
.icon-spotify:before { content: '\e8b2'; } /* 'оўІ' */
.icon-spotify-circled:before { content: '\e8b5'; } /* 'оўµ' */
.icon-qq:before { content: '\e8bb'; } /* 'оў»' */
.icon-instagram:before { content: '\e8e4'; } /* 'оЈ¤' */
.icon-dropbox:before { content: '\e8f8'; } /* 'оЈё' */
.icon-evernote:before { content: '\e8fb'; } /* 'оЈ»' */
.icon-flattr:before { content: '\e8e6'; } /* 'оЈ¦' */
.icon-skype:before { content: '\e8c5'; } /* 'оЈ…' */
.icon-skype-circled:before { content: '\e8e7'; } /* 'оЈ§' */
.icon-renren:before { content: '\e903'; } /* 'о¤ѓ' */
.icon-sina-weibo:before { content: '\e904'; } /* 'о¤„' */
.icon-paypal:before { content: '\e8e9'; } /* 'оЈ©' */
.icon-picasa:before { content: '\e8cf'; } /* 'оЈЏ' */
.icon-soundcloud:before { content: '\e8f0'; } /* 'оЈ°' */
.icon-mixi:before { content: '\e90c'; } /* 'о¤Њ' */
.icon-behance:before { content: '\e913'; } /* 'о¤“' */
.icon-google-circles:before { content: '\e914'; } /* 'о¤”' */
.icon-vkontakte:before { content: '\e8f1'; } /* 'оЈ±' */
.icon-smashing:before { content: '\e8a6'; } /* 'оў¦' */
.icon-db-shape:before { content: '\e8b3'; } /* 'оўі' */
.icon-sweden:before { content: '\e8a7'; } /* 'оў§' */
.icon-logo-db:before { content: '\e8b4'; } /* 'оўґ' */
.icon-picture:before { content: '\e80e'; } /* 'о Ћ' */
.icon-globe:before { content: '\e910'; } /* 'о¤ђ' */
.icon-leaf:before { content: '\e8e3'; } /* 'оЈЈ' */
.icon-graduation-cap:before { content: '\e8ab'; } /* 'оў«' */
.icon-mic:before { content: '\e85e'; } /* 'оЎћ' */
.icon-palette:before { content: '\e8e2'; } /* 'оЈў' */
.icon-ticket:before { content: '\e8b8'; } /* 'оўё' */
.icon-video:before { content: '\e80d'; } /* 'о Ќ' */
.icon-target:before { content: '\e8ba'; } /* 'оўє' */
.icon-music:before { content: '\e802'; } /* 'о ‚' */
.icon-trophy:before { content: '\e8d9'; } /* 'оЈ™' */
.icon-thumbs-up:before { content: '\e82b'; } /* 'о «' */
.icon-thumbs-down:before { content: '\e82c'; } /* 'о ¬' */
.icon-bag:before { content: '\e85a'; } /* 'оЎљ' */
.icon-user:before { content: '\e80a'; } /* 'о Љ' */
.icon-users:before { content: '\e80b'; } /* 'о ‹' */
.icon-lamp:before { content: '\e864'; } /* 'оЎ¤' */
.icon-alert:before { content: '\e83f'; } /* 'о ї' */
.icon-water:before { content: '\e8de'; } /* 'оЈћ' */
.icon-droplet:before { content: '\e8dc'; } /* 'оЈњ' */
.icon-credit-card:before { content: '\e8be'; } /* 'оўѕ' */
.icon-monitor:before { content: '\e900'; } /* 'о¤Ђ' */
.icon-briefcase:before { content: '\e8d8'; } /* 'оЈ' */
.icon-floppy:before { content: '\e8e5'; } /* 'оЈҐ' */
.icon-cd:before { content: '\e8ca'; } /* 'оЈЉ' */
.icon-folder:before { content: '\e850'; } /* 'оЎђ' */
.icon-doc-text:before { content: '\e84b'; } /* 'оЎ‹' */
.icon-calendar:before { content: '\e85b'; } /* 'оЎ›' */
.icon-chart-line:before { content: '\e911'; } /* 'о¤‘' */
.icon-chart-bar:before { content: '\e8d3'; } /* 'оЈ“' */
.icon-clipboard:before { content: '\e8c2'; } /* 'оЈ‚' */
.icon-attach:before { content: '\e823'; } /* 'о Ј' */
.icon-bookmarks:before { content: '\e829'; } /* 'о ©' */
.icon-book:before { content: '\e84f'; } /* 'оЎЏ' */
.icon-book-open:before { content: '\e84e'; } /* 'оЎЋ' */
.icon-phone:before { content: '\e853'; } /* 'оЎ“' */
.icon-megaphone:before { content: '\e8fe'; } /* 'оЈѕ' */
.icon-upload:before { content: '\e82e'; } /* 'о ®' */
.icon-download:before { content: '\e82d'; } /* 'о ­' */
.icon-box:before { content: '\e852'; } /* 'оЎ’' */
.icon-newspaper:before { content: '\e84d'; } /* 'оЎЌ' */
.icon-mobile:before { content: '\e907'; } /* 'о¤‡' */
.icon-signal:before { content: '\e8da'; } /* 'оЈљ' */
.icon-camera:before { content: '\e80f'; } /* 'о Џ' */
.icon-shuffle:before { content: '\e894'; } /* 'оў”' */
.icon-loop:before { content: '\e895'; } /* 'оў•' */
.icon-arrows-ccw:before { content: '\e891'; } /* 'оў‘' */
.icon-light-down:before { content: '\e865'; } /* 'оЎҐ' */
.icon-light-up:before { content: '\e866'; } /* 'оЎ¦' */
.icon-mute:before { content: '\e85f'; } /* 'оЎџ' */
.icon-sound:before { content: '\e860'; } /* 'оЎ ' */
.icon-battery:before { content: '\e8c0'; } /* 'оЈЂ' */
.icon-search:before { content: '\e803'; } /* 'о ѓ' */
.icon-key:before { content: '\e90b'; } /* 'о¤‹' */
.icon-lock:before { content: '\e824'; } /* 'о ¤' */
.icon-lock-open:before { content: '\e825'; } /* 'о Ґ' */
.icon-bell:before { content: '\e83d'; } /* 'о Ѕ' */
.icon-bookmark:before { content: '\e828'; } /* 'о Ё' */
.icon-link:before { content: '\e822'; } /* 'о ў' */
.icon-back:before { content: '\e820'; } /* 'о  ' */
.icon-flashlight:before { content: '\e804'; } /* 'о „' */
.icon-chart-area:before { content: '\e8f2'; } /* 'оЈІ' */
.icon-clock:before { content: '\e861'; } /* 'оЎЎ' */
.icon-rocket:before { content: '\e8aa'; } /* 'оўЄ' */
.icon-block:before { content: '\e868'; } /* 'оЎЁ' */